*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-logo img{
    height: 108px;
    width: 300px;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 39px;

}

.invoice{
    margin-left: 40px;
}

.font{
    font-size: 15px;
}

body{
    overflow-x: hidden;
}

.display{
    
    visibility:hidden;
}

.invoice-row{
    margin-left: 20px;
}